.registration_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 29, 32, 0.4);
  position: fixed;
  overflow-y: scroll;
  transition: 0.9s;
  z-index: 3000;
}
.registration_wrapper_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 540px;
  height: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 30px;
}

.registration_wrapper_content_type_list {
  display: flex;
  flex-direction: row;
}
.content_type_list_ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content_type_list_ul-li {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #c4c4c4;
  font-size: 25px;
  cursor: pointer;
  color: rgba(9, 29, 32, 0.4);
  margin-bottom: 20px;
}
.content_type_list_ul-li-active {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  border-bottom: 1px solid #2f80ed;
  color: #2f80ed;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}
.registration_wrapper_content_close {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: flex-end;
}
.shape_img {
  width: 12px;
  height: 12px;
  align-self: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}
.registration_wrapper_content_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content_form_login {
  display: flex;
  flex-direction: column;
}
.content_form_password {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input_login {
  width: 245px;
  height: 40px;
  margin-top: 5px;
  padding: 5px 10px;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  transition: 0.2s;
  outline: none;
}
.input_password {
  width: 245px;
  height: 40px;
  margin-top: 5px;
  padding: 5px 10px;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  transition: 0.2s;
  outline: none;
}
.content_login_button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.login_button {
  width: 265px;
  height: 43px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgb(99 212 248 / 24%);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  margin-bottom: 20px;
}
.error_block_reg {
  color: red;
  margin-top: 5px;
  font-size: 15px;
}
